<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MUNBANK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">
        login
      </ion-label>
      <ion-imput [(ngModel)]="login"></ion-imput>
    </ion-item>
    <ion-item>
      <ion-label position= "floating">
        Senha
      </ion-label>
      <ion-imput type="password" [(ngModel)]="Senha"></ion-imput>
    </ion-item>
  </div>
</ion-content>
